.letter-typed-correct {
  color: #ffd56b;
}

.letter-typed-incorrect {
  color: #ff4747;
}

.letter-pending {
    /* background-color: red; */
    color: #819198;
}

@keyframes cursor-blink {
  0% {
    opacity: 30%;
  }

  30% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.cursor {
    background: #fff200dd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: cursor-blink 1000ms ease-out  infinite;
}

.words-element {
  /* scroll-margin-top: 50px; */
}